# Discogs API
DISCOGS_CONSUMER_KEY=
DISCOGS_CONSUMER_SECRET=
DISCOGS_CALLBACK_URL=http://localhost:3000/api/oauth/callback

# This is a secret key that is used to encrypt the session cookie.
# You can generate a new secret by running the following command in your terminal:
# openssl rand -hex 32
AUTH_SECRET=

# Redis URL
REDIS_URL=

# Redis Password (used by docker-compose)
REDIS_PASSWORD=




###  export GEMINI_API_KEY="AIzaSyCBtXRnlTC6e0ePCDNLpLGw_pFa1BsStXY"
###  
###  # Discogs API
###  DISCOGS_API_KEY="KsYMjPUhOsZYVxHGWyNQxIKKtwLLtbRQjWdPbyIu"
###  DISCOGS_API_SECRET="KsYMjPUhOsZYVxHGWyNQxIKKtwLLtbRQjWdPbyIu"
###  E2E_DISCOGS_TOKEN="KsYMjPUhOsZYVxHGWyNQxIKKtwLLtbRQjWdPbyIu" 
###  
###  AUTH_SECRET=71f576e79b898a5382c9aeb1fa978d057812b72fd9f6b9836ac1fedd38638c93
###  DISCOGS_CONSUMER_KEY=ekwkkOoHyzJTwLszWpQF
###  DISCOGS_CONSUMER_SECRET=PRFPWNaEQDqWMHDmCHPJLhdnbDzXuqUv
###  DISCOGS_CALLBACK_URL=http://localhost:3000/api/oauth/callback
###  
###  TEST_DISCOGS_USERNAME=murdrejg
###  TEST_DISCOGS_PASSWORD=4¯xZ¥&]µ£:ÂK6qéæ?VR3èD¢ÖQÇ"ÑÕ2HÉ©íÚ^³<i\âq
###  
###  
###  # Redis URL
###  #REDIS_URL=redis://cache:6379
###  REDIS_URL=redis://:yourpassword@cache:6379
###  
###  # Redis Password (used by docker-compose)
###  #REDIS_PASSWORD=password
###  REDIS_PASSWORD=yourpassword